<div ng-app="cashcontrol">
  <header class="navbar navbar-default navbar-fixed-top header-navbar" ng-controller="navigationController" ui-view="header">
  </header>

  <section role="main" class="main container" ui-view="main">
  </section>
</div>